html {
  margin: "5px";
  font-family: 'Cardo', serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Work Sans', sans-serif;
}

/* reset header size so each is equivalent to the one below, h1 = h2, h2 = h3, etc. */
h1 {
  font-size: 1.5rem;
}

h2 {
  font-size: 1.17rem;
}

h3 {
  font-size: 1rem;
}

h4,
h5 {
  font-size: .83rem;
}

img,
video {
  max-width: 100%;
}

ul {
  list-style-type: none;
  margin-left: -40px;
}

label {
  padding-left: 10px;
}

.main-container {
  display: grid;
  grid-template-columns: 300px 400px;
  grid-template-rows: 90px auto 200px auto;
  grid-template-areas:
    "header       header"
    "sub-header   sub-header"
    "main         main"
    "book-image   book-detail"
}

.grid-header {
  grid-area: header;
}

.grid-main {
  grid-area: main;
  overflow: auto;
}

.grid-sub-header {
  grid-area: sub-header;
}

.grid-book-image {
  grid-area: book-image;
}

.grid-book-detail {
  grid-area: book-detail;
  margin-left: 10px;
  margin-top: 80px;
}


.break {
  white-space: pre-line;
}

.nav-link {
  display: inline-block;
  padding-right: 4px;
}

.active-nav-link {
  background-color: aqua;
}

.field-row {
  margin: 0.25em 0;
}

.field-label {
  cursor: pointer;
  display: inline-block;
  padding: 1px 6px;
  text-align: right;
  width: 80px;
  vertical-align: top;
}

.field-input {
  width: 180px;
}

.pos-btn {
  position: absolute;
  left: 510px;
}

.paper-list {
  width: 600px;
  border: 5px black;
}